
.tp-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 64px;
  background: #eee;
}
.tp-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width:100px;
}
.choose {
  width: 75px;
  height: 70px;
}

.information-bar{
  width: 75px;
  height: 100px;
}



