<mat-card id="box">
  <mat-form-field class="input-area">
    <textarea #username matInput placeholder="Username"></textarea>
  </mat-form-field>
  <mat-form-field class="input-area">
    <textarea #password matInput placeholder="Password"></textarea>
  </mat-form-field>
  <div id="button-position">
    <button (click)="login(username.value, password.value)" mat-raised-button id="login">登陆</button>
    <button (click)="register(username.value, password.value, is_admin.checked)" mat-raised-button id="signup">注册</button>
  </div>

  <div id="clickbox">
    <mat-checkbox #is_admin id="admin">以管理员身份注册</mat-checkbox>
  </div>
</mat-card>
