.mat-sort-header-container {
    align-items: center;
  }

table{
    width: 100%;
}
.buttons{
  width: 100%;
}

#submit{
  position: absolute;
  left: 30%;
}

#clear{
  position: absolute;
  right: 30%;
}
mat-form-field {
  width: 60px;
}